@charset "utf-8";


body{
  margin: 0;
}

.container{
  max-width: 1000px;
  width: calc(100% - 64px);
  margin: 0 auto;
}

/* ----------header---------- */
header{
  padding: 16px 0;
}

h1{
  margin: 0;
  text-align: center;
}
h2{
  margin: 32px 0 0 0;
}
p{
  margin: 0;
}


/* ----------hero---------- */
.hero{
  display: flex;
  flex-direction: column;
}
.hero div{
  width: 100%;
}
.hero img{
  width: 100%;
  height: auto;
}
.hero p{
  margin: 32px 0 0 0;
}
.hero :nth-child(1){
  text-align: center;
}

/* ----------photos---------- */

.photos ul{
  list-style: none;
  padding: 0;

}
.photos li{
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 16px;
}
.photos li div{
  flex: 1;
}
.photos img{
  width: 100%;
  height: auto;
}
.reverse{
  flex-direction: row-reverse;
}
/* ----------footer---------- */
footer{
  text-align: center;
  padding: 32px 0;
  background-color: rgb(49, 49, 49);
}
small{
  font-size: 14px;
  color: white;
}